#new-button{
    color:red;
}

button{
    margin:10px 0;
}

select{
    text-align: center;
    color:black;
}

.image-sender{
    #email{
        width:100%;
    }
    #add-email{
        color:red;
    }
    input{
        text-align: center;
    }
}